[submodule "core"]
	path = core
	url = ../core
[submodule "dpcm"]
	path = dpcm
	url = ../dpcm
[submodule "matlabtools"]
	path = matlabtools
	url = ../matlabtools
[submodule "matlabtojarmos"]
	path = matlabtojarmos
	url = ../matlabtojarmos
[submodule "+models"]
	path = +models
	url = ../models
[submodule "kermorf"]
	path = kermorf
	url = ../kermorf
[submodule "kermorpp"]
	path = kermorpp
	url = ../kermorpp
