[submodule "models"]
	path = +models
	url = ../models
[submodule "core"]
	path = core
	url = ../kermor-core
[submodule "dpcm"]
	path = dpcm
	url = ../dpcm
[submodule "matlabtools"]
	path = matlabtools
	url = ../matlabtools
[submodule "matlabtojarmos"]
	path = matlabtojarmos
	url = ../matlabtojarmos
